* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 6vh;

    background-color: rgba(13, 162, 65, 0.889);

    display: flex;
    align-items: center;
    justify-content: center;


}

nav h1 {
    text-align: center;
    color: rgb(3, 115, 31);
}

#main {

    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(145, 252, 150, 0.695);
}

#main .loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(224, 230, 221, 0.771);
    width: 25%;
    height: 30vh;
    gap: 10px;
    border-radius: 20px;
}

#main .loginBox #text {
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;


}

#main .loginBox .pass {
    width: 100%;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#main .loginBox .pass #password {
    width: 80%;
    height: 5vh;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
}

#main .loginBox .pass #hide {
    width: 10%;
    height: 5vh;
    outline: none;
    border: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
    color: rgb(136, 133, 133);
    cursor: pointer;
}

#main .loginBox #logIn {
    width: 90%;
    height: 5vh;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: lightgreen;
    color: rgb(255, 255, 255);
}

#foot{
    text-align: center;
    background-color:  rgba(13, 162, 65, 0.889);
    height: 8vh;
    padding-top: 10px;
    color: rgb(20, 98, 43);
}
