*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faqBox{
    width: 100%;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqBox .box1{
    width: 72.1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0px;
    gap: 2rem;
}

.faqBox .box1 h1{
    margin-top: 1rem;
}

.faqBox .box1 .faqs{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(232, 232, 232);
    padding: 1.1rem 1.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.faqBox .box1 .faqs h2{
    font-weight: 100;
    font-size: 1.3rem;
}
.faqBox .box1 .faqs span{
    font-size: 1.3rem;
    padding-top: 0.2rem;
}